[submodule "/Users/miharu.k/Documents/GitHub/dent-de-lion/dent-de-lion.github.io/Taraxacum/themes/PaperMod"]
	path = /Users/miharu.k/Documents/GitHub/dent-de-lion/dent-de-lion.github.io/Taraxacum/themes/PaperMod
	url = https://github.com/HAL227/hugo-PaperMod.git
